body {
  background-color: #FFFCEB;
  color: #777;
  font-family: 'mrs-eaves-xl-serif', serif;
  font-size: 22px;
  line-height: 1.4;
  margin: 0;
}

a {
  color: #777;
  display: block;
  text-decoration: none;
  transition: all 100ms ease;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.small-caps {
  -moz-font-feature-settings: "c2sc", "smcp";
  -ms-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: 0.05em;
}
